<template>
  <el-dialog class="home-modal"
    :visible.sync="value"
    :show-close="false"
    :close-on-click-modal="false"
    :close-on-press-escape="false"
    top="20vh"
    >
    <div slot="title">
      <div class="title">
        <span>大屏需求</span>
        <i class="el-icon-close"
          @click="close">
        </i>
      </div>
    </div>
    <el-form ref="demandForm" :model="demandForm" :rules="demandRule" label-width="80px" >
      <el-form-item label="需求名称" prop="name">
        <el-input placeholder="请输入需求名称"  v-model="demandForm.name"/>
      </el-form-item>
      <el-form-item label="紧急程度" prop="name">
        <el-select placeholder="请选择"  v-model="demandForm.priority">
           <el-option
                v-for="item in CONSTANT.emergencyOptions"
                :key="item.value"
                :label="item.name"
                :value="item.value">
              </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="需求描述" prop="describe">
        <el-input :rows="5" v-model="demandForm.describe" placeholder="请输入需求描述" 
        resize='none'
        type="textarea" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="modal-footer">
      <el-button class="confirm-btn" @click="submitForm('demandForm')">
        提交
      </el-button>
      <div class="user-info">
        <span class="dept">{{userInfo &&userInfo.department}}</span>
        <span class="name">{{userInfo && userInfo.name}}</span>
        <span class="time">{{currentTime}}</span>
      </div>
    </div>
  </el-dialog>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>

