<template>
  <div class="user-main">
    <div class="main-common">
      <div class="res-header">
        <div class="title">
          <div class="title-prefix">用户管理</div>
        </div>
      </div>
      <div class="res-body">
        <div class="table-tool">
          <el-button
            @click="add"
            slot="append">
            <div class="i-container">
              <i class="el-icon-plus"></i>
              <span>新建用户</span>
            </div>
          </el-button>
        </div>
        <div class="table-con res-table">
          <el-table
            class="main-table"
            :data="tableData"
            border>
            <el-table-column
              prop="name"
              label="用户名称">
            </el-table-column>
            <el-table-column
              show-overflow-tooltip
              prop="role_names"
              label="角色">
            </el-table-column>
            <el-table-column
              prop="identity"
              label="身份证号">
            </el-table-column>
            <el-table-column
              prop="police_id"
              label="警号">
            </el-table-column>
            <el-table-column
              label="操作"
              width="282">
              <template slot-scope="scope">
                <div class="btn-group">
                  <div
                    class="edit-btn"
                    @click="edit(scope.row)">
                    <i></i><span>编辑</span>
                  </div>
                  <el-popover
                    placement="top"
                    width="160"
                    v-model="scope.row.showDelPopover">
                    <p class="popover-text">是否删除该用户?该操作不可恢复,是否继续?</p>
                    <div class="button-group">
                      <el-button type="primary" size="mini" @click="scope.row.showDelPopover = false">取消</el-button>
                      <el-button type="danger" size="mini" @click="remove(scope.row)">确定</el-button>
                    </div>
                    <div
                      slot="reference"
                      class="del-btn">
                      <i></i>
                      <span>删除</span>
                    </div>
                  </el-popover>
                  <el-popover
                    placement="top"
                    width="160"
                    v-model="scope.row.showResetPopover">
                    <p class="popover-text">是否重置密码?该操作不可恢复,是否继续?</p>
                    <div class="button-group">
                      <el-button type="primary" size="mini" @click="scope.row.showResetPopover = false">取消</el-button>
                      <el-button type="danger" size="mini" @click="resetPwd(scope.row)">确定</el-button>
                    </div>
                    <div
                      slot="reference"
                      class="reset-btn">
                      <i class="el-icon-unlock"></i>
                      <span>重置密码</span>
                    </div>
                  </el-popover>
                </div>
              </template>
            </el-table-column>
          </el-table>
          <div class="paginator" v-show="totalCount > searchParams.page_size">
            <el-pagination
              background
              small
              layout="prev, pager, next"
              :page-size="searchParams.page_size"
              :total="totalCount"
              @current-change="changePage">
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
    <user-modal
      :user-id="userId"
      v-model="modals.userModal"
      @refresh="refresh"
      @close="modals.closeUserModal">
    </user-modal>
  </div>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>

