<template>
<el-dialog 
    class="manage-modal"
    :visible="value">
    <div slot="title">
      <div class="title">
        <span>用户组</span>
        <i
          class="el-icon-close"
          @click="close">
        </i>
      </div>
    </div>
    <el-row v-for="(item, index) in users" :key="index">
      <el-col :span="24">
        <el-checkbox v-model="item.isChecked">{{item.name}}</el-checkbox>
      </el-col>
    </el-row>
    <div slot="footer" class="modal-footer">
      <el-button
        class="confirm-btn"
        @click="confirm">
        确 定
      </el-button>
    </div>
  </el-dialog>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>