<template>
  <div class="manage-main">
    <div class="manage-header dark">
      <div class="header-left">
        <i class="i-badge"></i>
        <span>可视化分析展示系统</span>
      </div>
      <div class="header-right">
        <div class="user-icon">
          <img :src="defaultIcon">
        </div>
        <span>{{userInfo.name}}</span>
        <i class="i-logout" @click="logout"></i>
      </div>
    </div>
    <div class="manage-body">
      <div class="header dark">
        <ul class="menu">
          <li class="menu-item"
              :class="{'active': activeIndex === 1}"
              @click="handleSelect(1)" >
              <span>角色管理</span>
          </li>
          <li class="seperator"></li>
          <li class="menu-item"
              :class="{'active': activeIndex === 2}"
              @click="handleSelect(2)" >
              <span>用户管理</span>
          </li>
          <li class="seperator"></li>
          <li class="menu-item"
            :class="{'active': activeIndex === 3}"
            @click="handleSelect(3)">
            <span>菜单资源管理</span>
          </li>
          <li class="seperator"></li>
          <li class="menu-item"
            :class="{'active': activeIndex === 4}"
            @click="handleSelect(4)">
            <span>素材库管理</span>
          </li>
        </ul>
      </div>
      <div class="main">
        <transition name="fade">
          <router-view/>
        </transition>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>

