<template>
    <div class="main-common main-scr-demand">
      <div class="res-header">
        <div class="title">
          <div class="title-prefix">大屏需求管理</div>
        </div>
      </div>
      <div class="res-body">
        <div class="filter-bar">
          <el-input placeholder="搜索内容" v-model="searchParams.keyword">
            <el-button slot="append" @click="search">
              <div class="i-container" >
                <i class="i-search"></i>
              </div>
            </el-button>
          </el-input>
          <!-- <div class="filter">
            <span class="filter-desc">适用范围</span>
            <el-select
              @change="filterChange"
              v-model="rangeSelected"
              placeholder="请选择">
              <el-option
                v-for="item in rangeOptions"
                :key="item.id"
                :label="item.value"
                :value="item.id">
              </el-option>
            </el-select>
          </div> -->
        </div>
        <div class="table-con res-table demand-table">
          <el-table
            class="main-table"
            :data="tableData"
            border>
            <el-table-column
              label="状态"
              width="80">
              <template slot-scope="scope">
                <div class="s-group">
                  <i class="s-uncheck" v-show="scope.row.status === CONSTANT.demandStatus.UNCHECK"></i>
                  <i class="s-reject" v-show="scope.row.status === CONSTANT.demandStatus.REJECT"></i>
                  <i class="s-develop" v-show="scope.row.status === CONSTANT.demandStatus.DEVELOPING"></i>
                  <i class="s-finish" v-show="scope.row.status === CONSTANT.demandStatus.FINISH"></i>
                </div>
              </template>
            </el-table-column>
            <el-table-column
              show-overflow-tooltip
              label="提交时间">
              <template slot-scope="scope">
                {{utils.dateFormat(new Date(scope.row.create_time))}}
              </template>
            </el-table-column>
            <el-table-column
              prop="user_name"
              label="提交人">
            </el-table-column>
            <el-table-column
              show-overflow-tooltip
              prop="name"
              label="需求名称">
            </el-table-column>
            <el-table-column
              show-overflow-tooltip
              prop="describe"
              label="需求描述">
            </el-table-column>
            <el-table-column
              label="操作"
              width="190">
              <template slot-scope="scope">
                <el-button
                  v-show="scope.row.status === CONSTANT.demandStatus.UNCHECK"
                  class="agree-btn"
                  @click="pass(scope.row)"
                  type="text"
                  size="small">
                  同意
                </el-button>
                <el-button
                  v-show="scope.row.status === CONSTANT.demandStatus.UNCHECK"
                  class="reject-btn"
                  @click="reject(scope.row)"
                  type="text"
                  size="small">
                  驳回
                </el-button>
                <el-button
                  v-show="scope.row.status === CONSTANT.demandStatus.REJECT"
                  @click="reason(scope.row)"
                  class="reason-btn"
                  type="text"
                  size="small">
                  {{'驳回理由'}}
                </el-button>
                <div class="confirm-text" 
                  v-show="scope.row.status != CONSTANT.demandStatus.UNCHECK && scope.row.status != CONSTANT.demandStatus.REJECT">
                  {{CONSTANT.demandText[scope.row.status]}}
                </div>
              </template>
            </el-table-column>
          </el-table>
          <div class="paginator" v-show="totalCount > searchParams.page_size">
            <el-pagination
              background
              small
              layout="prev, pager, next"
              :page-size="searchParams.page_size"
              :total="totalCount"
              @current-change="changePage">
            </el-pagination>
          </div>
        </div>
      </div>
      <reject-modal
        v-model="modals.rejectModal"
        :demand-id="demandId"
        @close="modals.closeRejectModal"
        @refresh="search">
      </reject-modal>
      <reason-modal
        v-model="modals.reasonModal"
        :demand-id="demandId"
        @close="modals.closeReasonModal">
      </reason-modal>
    </div>
</template>
<script>
import entry from './entry'
export default entry
</script>
