<template>
  <div class="login">
    <div class="header">
      <div class="login-title"></div>
    </div>
    <div class="login-form-warpper">
      <el-form :model="loginForm" :rules="loginRule" ref="loginForm" class="login-form">
        
        <el-form-item prop="username" class="form-item">
          <i class="username-icon"></i>
          <el-input v-model="loginForm.username" placeholder="用户名/账号"
          @keyup.enter.native="submitForm('loginForm')"></el-input>
        </el-form-item>
        <el-form-item prop="password" class="form-item">
          <i class="password-icon"></i>
          <el-input v-model="loginForm.password" 
          type="password"
          placeholder="登录密码" @keyup.enter.native="submitForm('loginForm')"></el-input>
        </el-form-item>
        <div class="modify-pwd" @click="modals.modifyPassword=true">修改密码</div>
        <div class="login-btn" @click="submitForm('loginForm')">登录</div> 
      </el-form>
    </div>
     <modify-password-modal v-model="modals.modifyPassword" @close="closeModifyPasswordModal" />
  </div>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>
