<template>
  <div>
    <el-dialog 
      class="home-modal demand-list"
      :visible.sync="value"
      :show-close="false"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      >
      <div slot="title">
        <div class="title">
          <span>需求列表</span>
          <i
            class="el-icon-close"
            @click="close">
          </i>
        </div>
      </div>
      <el-table
        :data="tableData"
        stripe
        style="width: 100%"
        height="5rem">
        <el-table-column
          prop="name"
          label="需求名称"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column
          prop="describe"
          label="需求描述"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column
          label="紧急情况"
          width="80">
          <template slot-scope="scope">
            <span>{{scope.row.priority === CONSTANT.emergencyStatus.SPECIAL ? '特急' : scope.row.priority === CONSTANT.emergencyStatus.URGENT ? '紧急' : '一般'}}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="状态"
          width="100">
          <template slot-scope="scope">
            <span class="status-icon" :class="'status'+[scope.row.status]"></span>
            <span>{{scope.row.status === CONSTANT.demandStatus.UNCHECK ? '已提交' : scope.row.status === CONSTANT.demandStatus.REJECT ? '已驳回' : scope.row.status === CONSTANT.demandStatus.DEVELOPING ? '研发中' : scope.row.status === CONSTANT.demandStatus.FINISH ? '研发完成' : '未提交'}}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="操作"
          width="120"
          class-name="operate">
          <template slot-scope="scope">
            <span @click="editDemand(scope.row)" class="edit" v-if="scope.row.status === CONSTANT.demandStatus.REVOKE"><i class="el-icon-edit"></i>编辑</span>
            <span class="revoke" v-if="scope.row.status === CONSTANT.demandStatus.UNCHECK">
              <i class="el-icon-refresh-left"></i>
              <el-popover
                placement="top"
                width="160"
                v-model="scope.row.visible">
                <p class="popover-text">确定要撤回吗？</p>
                <div class="button-group">
                  <el-button type="primary" size="mini" @click="scope.row.visible = false">取消</el-button>
                  <el-button type="danger" size="mini" @click="handleRevoke(scope.row)">确定</el-button>
                </div>
                <span slot="reference">撤回</span>
              </el-popover>
            </span>
            <span @click="submitDemand(scope.row.id)" class="revoke" v-if="scope.row.status === CONSTANT.demandStatus.REVOKE"><i class="el-icon-refresh-right"></i>提交</span>
            <span
              class="reason"
              @click="reason(scope.row.id)"
              v-if="scope.row.status === CONSTANT.demandStatus.REJECT">驳回理由</span> 
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>

    <el-dialog 
      class="home-modal demand-list"
      :visible.sync="modals.reasonModal"
      :show-close="false"
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <div slot="title">
        <div class="title">
          <span>驳回理由</span>
          <i
            class="el-icon-close"
            @click="modals.closeReasonModal">
          </i>
        </div>
      </div>
      <el-table
        :data="reasons"
        stripe
        style="width: 100%"
        height="5rem">
        <el-table-column
          prop="reason"
          label="原因"
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column
          label="处理时间"
          show-overflow-tooltip>
          <template slot-scope="scope">
            <span>{{utils.dateFormat(scope.create_time)}}</span>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>
  </div>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>

