<template>
  <div class="main-common main-sub-menu">
    <div class="res-header">
      <div class="title">
        <div class="title-prefix">二级菜单管理</div>
      </div>
    </div>
    <div class="res-body">
      <div class="table-con res-table">
        <el-table
          class="main-table"
          :data="tableData"
          border>
          <!-- <el-table-column
            prop="seq"
            label="序号">
          </el-table-column> -->
          <el-table-column
            prop="name"
            label="菜单名称">
          </el-table-column>
          <el-table-column
            prop="parent_menu_name"
            label="所属一级菜单名称">
          </el-table-column>
          <el-table-column
            prop="describe"
            label="备注">
          </el-table-column>
          <el-table-column
            label="操作"
            width="200">
            <template slot-scope="scope">
              <div class="btn-group">
                <div
                  class="edit-btn"
                  @click="edit(scope.row)">
                  <i></i><span>编辑</span>
                </div>
                <el-popover
                  placement="top"
                  width="160"
                  v-model="scope.row.showDeleteModal">
                  <p class="popover-text">该操作将会级联删除下属所有大屏，确定删除吗？</p>
                  <div class="button-group">
                    <el-button type="primary" size="mini" @click="scope.row.showDeleteModal = false">取消</el-button>
                    <el-button type="danger" size="mini" @click="remove(scope.row)">确定</el-button>
                  </div>
                  <div
                    slot="reference"
                    class="del-btn"
                   >
                    <i></i>
                    <span>删除</span>
                  </div>
                </el-popover>
                <div class="sort-group">
                  <i @click="sortMenu(scope.row.id, CONSTANT.menuSort.TOP)" class="el-icon-download sticky-post"></i>
                  <i @click="sortMenu(scope.row.id, CONSTANT.menuSort.RISE)" class="el-icon-arrow-up"></i>
                  <i @click="sortMenu(scope.row.id, CONSTANT.menuSort.DOWN)" class="el-icon-arrow-down"></i>
                </div>
              </div>
            </template>
          </el-table-column>
        </el-table>
        <div class="paginator" v-show="totalCount > searchParams.page_size">
          <el-pagination
            background
            small
            layout="prev, pager, next"
            :page-size="searchParams.page_size"
            :total="totalCount"
            @current-change="changePage">
          </el-pagination>
        </div>
      </div>
    </div>
    <sub-menu-modal 
      v-model="modals.subModal"
      :menu-id="menuId"
      @close="closeSubModal"/>
  </div>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>

