<template>
  <div class="menu-res-main">
    <div class="main-left dark">
      <el-dropdown
        trigger="click"
        placement="bottom">
        <el-button class="create-btn">
          <i class="el-icon-plus"></i>
          <span>新建</span>
        </el-button>
         <el-dropdown-menu slot="dropdown">
          <el-dropdown-item @click.native="modals.showTopModal">新建一级菜单</el-dropdown-item>
          <el-dropdown-item @click.native="modals.showSubModal">新建二级菜单</el-dropdown-item>
          <el-dropdown-item @click.native="modals.showScreenModal">添加可视化大屏</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <el-menu
        default-active="1"
        class="menu"
        @select="menuSelect"
        background-color="#1a1d3a"
        text-color="#BABBC3"
        active-text-color="#299DF2">
        <el-menu-item index="1">
          <i class="i-menu" :class="{'active':menuIndex === 1}"></i>
          <span slot="title">一级菜单管理</span>
        </el-menu-item>
        <el-menu-item index="2">
          <i class="i-menu" :class="{'active':menuIndex === 2}"></i>
          <span slot="title">二级菜单管理</span>
        </el-menu-item>
        <el-menu-item index="3">
          <i class="i-screen" :class="{'active':menuIndex === 3}"></i>
          <span slot="title">大屏内容管理</span>
        </el-menu-item>
        <el-menu-item index="4">
          <i class="i-cube" :class="{'active':menuIndex === 4}"></i>
          <span slot="title">大屏需求管理</span>
        </el-menu-item>
      </el-menu>
    </div>
    <div class="main-right dark">
      <transition name="fade" mode="out-in">
        <router-view/>
      </transition>
    </div>
    <top-menu-modal
      v-model="modals.topModal"
      @close="modals.closeTopModal">
    </top-menu-modal>
    <sub-menu-modal
      v-model="modals.subModal"
      @close="modals.closeSubModal">
    </sub-menu-modal>
    <screen-content-modal
      v-model="modals.screenModal"
      @close="modals.closeScreenModal">
    </screen-content-modal>
  </div>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>