<template>
  <div class="main-common main-scr-content">
    <div class="res-header">
      <div class="title">
        <div class="title-prefix">大屏内容管理</div>
      </div>
    </div>
    <div class="res-body">
       <div class="filter-bar">
          <el-input placeholder="搜索内容" v-model="searchParams.search_content">
            <el-button slot="append" @click="refreshContent">
              <div class="i-container" >
                <i class="i-search"></i>
              </div>
            </el-button>
          </el-input>
        </div>
      <div class="table-con res-table">
        <el-table
          class="main-table"
          :data="tableData"
          border>
          <!-- <el-table-column
            prop="seq"
            label="序号"
            width="60">
          </el-table-column> -->
          <el-table-column
            show-overflow-tooltip
            prop="parent_menu_name"
            label="所属二级菜单名称">
          </el-table-column>
          <el-table-column
            show-overflow-tooltip
            prop="name"
            label="大屏名称">
          </el-table-column>
          <el-table-column
            label="菜单图标"
            width="80">
            <template slot-scope="scope">
              <img class="menu-icon"
                :src="scope.row.image"
                alt="">
            </template>
          </el-table-column>
          <el-table-column
            show-overflow-tooltip
            label="资源URL">
            <template slot-scope="scope">
              <a :href="scope.row.resource_url" target="_blank">{{scope.row.resource_url}}</a>
            </template>
          </el-table-column>
          <el-table-column
            show-overflow-tooltip
            prop="describe"
            label="备注">
          </el-table-column>
          <el-table-column
            label="操作"
            width="200">
            <template slot-scope="scope">
              <div class="btn-group">
                <div
                  class="edit-btn"
                  @click="edit(scope.row)">
                  <i></i><span>编辑</span>
                </div>
                <el-popover
                  placement="top"
                  width="160"
                  v-model="scope.row.showDeleteModal">
                  <p>确定删除该大屏吗？</p>
                  <div style="text-align: right; margin: 0">
                    <el-button size="mini" type="text" @click="scope.row.showDeleteModal = false">取消</el-button>
                    <el-button type="primary" size="mini" @click="remove(scope.row)">确定</el-button>
                  </div>
                  <div
                    slot="reference"
                    class="del-btn"
                   >
                    <i></i>
                    <span>删除</span>
                  </div>
                </el-popover>
                <div class="sort-group">
                  <i @click="sortMenu(scope.row.id, CONSTANT.menuSort.TOP)" class="el-icon-download sticky-post"></i>
                  <i @click="sortMenu(scope.row.id, CONSTANT.menuSort.RISE)" class="el-icon-arrow-up"></i>
                  <i @click="sortMenu(scope.row.id, CONSTANT.menuSort.DOWN)" class="el-icon-arrow-down"></i>
                </div>
              </div>
            </template>
          </el-table-column>
        </el-table>
        <div class="paginator" v-show="totalCount > searchParams.page_size">
          <el-pagination
            background
            small
            layout="prev, pager, next"
            :page-size="searchParams.page_size"
            :total="totalCount"
            @current-change="changePage">
          </el-pagination>
        </div>
      </div>
    </div>
    <screen-content-modal
      v-model="modals.screenModal"
      :menu-id="menuId"
      @close="modals.closeScreenModal" />
  </div>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>

