<template>
  <el-dialog 
    class="manage-modal"
    :visible="value">
    <div slot="title">
      <div class="title">
        <span>驳回理由</span>
        <i
          class="el-icon-close"
          @click="close">
        </i>
      </div>
    </div>
    <div class="main-common">
      <div class="res-body">
        <div class="table-con res-table">
          <el-table
            class="main-table"
            :data="tableData"
            border>
            <el-table-column
              prop="reason"
              label="原因"
              show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              label="处理时间"
              show-overflow-tooltip>
              <template slot-scope="scope">
                <span>{{utils.dateFormat(scope.create_time)}}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import entry from './entry'
export default entry
</script>
