<template>
  <div class="user-file-list">
    <div class="file-title">
      <!-- <span>{{userInfo && userInfo.police_category || policeCategory}}</span> -->
      <span>{{currentParentName}}</span>
    </div>
    <div class="swiper-wrapper">
      <el-carousel
        :arrow="menuTreeList.length > 1 ? 'hover' : 'never'"
        trigger="click"
        class="file-carousel"
        :autoplay="false"
        type="card"
        height="5.5rem"
        @change="changeFile"
        indicator-position="outside"
      >
        <el-carousel-item
          class="file-carousel-item"
          v-for="(menu, index) in menuTreeList"
          :key="index">
          <h3>{{menu.name}}</h3>
          <el-carousel
            trigger="click"
            class="screen-carousel"
            :autoplay="false"
            height="5rem"
            :arrow="index===currentFileIndex && menu.children && menu.children.length > 1 ? 'hover' : 'never'"
            indicator-position="none"
          >
            <el-carousel-item class="screen-carousel-item" v-for="(item,index) in menu.children" :key="index">
              <div @click.stop="toScreenView(screen)" v-for="(screen, index) in item" :key="index" class="screen-panel">
                <div class="screen-img">
                   <img :src="screen.image || screenDefaultImg">
                </div>
                <div :title="screen.name" class="screen-name">{{screen.name}}</div>
              </div>
            </el-carousel-item>
          </el-carousel>
        </el-carousel-item>
      </el-carousel>
    </div>
  </div>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>

