<template>
  <div class="home">
    <div class="header">
      <div class="header-top">
        <div class="back-icon">
          <i class="el-icon-back" v-show="isAdmin && adminFileViewStatus !== 'admin'"  @click="showAdminFileList"></i>
        </div>
        <div class="header-right">
          <div class="user-icon">
            <img :src="defaultIcon" alt="">
            </div>
            <span>{{userInfo && userInfo.name}}</span>
            <i class="i-logout" @click="logout"></i>
        </div>
      </div>
      <div class="police-operate-group" v-show="!isAdmin">
        <div @click="modals.showAddDemandModal">
          <i class="add-demand-icon"></i>
        </div>
        <div @click="modals.showDemandListModal">
          <i class="list-demand-icon"></i>
        </div>
      </div>
    </div>
    <div class="file-container" :class="{'normal':!isAdmin}">
      <admin-file-list @showUserFileList="showUserFileList" v-show="isAdmin && adminFileViewStatus === 'admin'"></admin-file-list>
      <user-file-list v-show="!isAdmin || adminFileViewStatus !== 'admin'" :parentMeunId='menuId' :policeCategory='policeCategory'></user-file-list>
    </div>
    <div class="footer" :class="{'normal':!isAdmin}">
      <div v-if="isAdmin" class="manage-btn" @click="toManage">系统管理</div>
    </div>
    <add-demand-modal
      ref='addDemand'
      v-model="modals.addDemand" 
      :detail="demandDetail"
      :id="demandDetail.id"
      @close="modals.closeAddDemandModal" 
      @editSuccess="editSuccess"
    />
    <demand-list-modal
      ref='demandList'
      v-model="modals.demandList"
      @close="modals.closeDemandListModal"
      @edit="editDemand"/>
  </div>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>
