.admin-file-list {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .folder-list-wrapper {
    width: 99.5vw;
    height: 100%;

    .screen-carousel {
      height: 100%;

      .folder-list {
        width: 100%;
        // height: 100%;
        // max-width: 18rem;
        max-height: 100%;
        max-width: 16.8rem;
        margin: 0 auto;
        // padding-top: .3rem; 
        display: flex;
        // justify-content: center;
        // align-content: center;
        flex-wrap: wrap;
  
        .folder-item {
          position: relative;
          width: 3rem;
          height: 1.5rem;
          margin: 0.55rem .6rem;
          padding: .2rem .15rem;
          display: flex;
          justify-content: center;
          align-content: center;
          cursor: pointer;
          color: #fff;
          background-color: rgba(5, 26, 55, 0.7);
          @include bg-contain("normal-file-button.png");
  
          &.active {
            @include bg-contain("passed-file-button.png");
          }
  
          &:hover {
            @include bg-contain("passed-file-button.png");
          }
  
          .folder-img {
            flex: 1.5;
            display: flex;
            align-items: center;
            img {
              width: 100%;
              height: auto;
            }
          }
  
          .folder-context {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            text-align: center;
  
            .folder-title {
              font-size: .25rem;
              line-height: .4rem;
              font-weight: 600;
            }
  
            .folder-des {
              font-size: .2rem;
              line-height: .3rem;
              width: 100%;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
  
          .sec-folder-wrapper {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 100%;
            width: 110%;
  
            .sec-folder-list {
              position: relative;
              left: 0;
              top: 0;
              width: 55%;
              background-color: rgba(25, 25, 44, 0.9);
    
              &.up {
                bottom: 100%;
                top: unset;
              }
    
              li {
                border-left: 3px #ff655e solid;
                padding-left: 0.3rem;
                line-height: 0.4rem;
                background-image: url("../imgs/menu.png");
                background-repeat: no-repeat;
                background-size: 0.15rem;
                background-position: 0.07rem center;
                font-size: 0.2rem;
    
                &:hover {
                  background-image: url("../imgs/menu-active.png");
                  color: #299df2;
                  background-color: #242742;
                }
              }
            }
    
            .screen-list {
              position: absolute;
              left: 55%;
              top: 0;
              z-index: 1;
              width: 55%;
              background-color: rgba(25, 25, 44, 0.9);
    
              &.up {
                bottom: 100%;
                top: unset;
              }
    
              li {
                padding-left: 0.3rem;
                line-height: 0.4rem;
                background-image: url("../imgs/screen.png");
                background-repeat: no-repeat;
                background-size: 0.15rem;
                background-position: 0.07rem center;
                font-size: 0.2rem;
    
                &:hover {
                  background-image: url("../imgs/screen-active.png");
                  color: #299df2;
                  background-color: #242742;
                }
              }
    
              .no-screen {
                font-size: .2rem;
                padding-left: 0.3rem;
                line-height: .4rem;
              }
              
            }
          }
          .no-msg {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 100%;
            width: 100%;
            padding: .08rem 0;
            background-color: rgba(25, 25, 44, 0.9);
            text-align: center;
          }
        }
      }
    }
  }
}

.home-modal {
  .el-dialog {
    width: 9rem;
    height: 6.5rem;
    color: #fff;
    background-color: transparent;
    @include bg-contain("demand-modal.png");
    border-radius: 4px;

    .el-dialog__header {
      font-size: .25rem;
      line-height: .4rem;
      position: relative;
      text-align: center;
      padding: .3rem .25rem .15rem;

      .el-icon-close {
        position: absolute;
        top: .25rem;
        right: .15rem;
        font-weight: bold;
        color: #d8d8d8;
        cursor: pointer;

        &:hover {
          color: #299df2;
        }
      }

      .el-dialog__headerbtn {
        display: none;
      }
    }

    .el-dialog__body {
      height: 4.2rem;
      margin: 0 .3rem .15rem;
      padding: .4rem .15rem;
      border-top: 1px solid rgba(41, 157, 242, 0.2);
      border-bottom: 1px solid rgba(41, 157, 242, 0.2);

      .el-form-item {
        .el-form-item__label {
          color: #fff;
        }
        .el-textarea__inner,
        .el-input__inner {
          border: 1px solid rgba(41, 157, 242, 0.2);
          background-color: rgba(41, 157, 242, 0.1);
          color: #fff;
        }
      }
    }
    
    .el-dialog__footer {
      padding: 0.1rem .3rem 0;

      .modal-footer {
        text-align: center;

        .el-button {
          font-size: .25rem;

          &:focus,
          &:hover {
            color: #fff;
            background-color: #2277ba;
            border-color: #2277ba;
          }
        }

        .user-info {
          display: flex;
          justify-content: space-around;
          color: #ccc;
          font-size: .2rem;

          .dept,
          .name {
            flex: 1;
            text-align: left;
          }
          .time {
            flex: 2;
            text-align: right;
          }
        }
      }
    }
  }
  .el-input__inner, .el-textarea__inner {
    &::-webkit-input-placeholder {
      color: #999;
    }
  }
}

.demand-list {
  .el-dialog .el-dialog__body {
    border-bottom: none;
    padding: .2rem 0 0;
  }

  .el-table th,
  .el-table tr {
    background-color: transparent;
  }
  .el-table th,
  .el-table td,
  .el-table th.is_leaf {
    border-right: none;
  }
  .el-table {
    border: none;
    background-color: transparent;
    color: #fff;

    thead {
      color: #a0a2b4;
      font-weight: bold;
    }

    .el-table__header-wrapper tr {
      & > th,
      th.is_leaf {
        background-color: rgba(41, 157, 242, 0.1);
        .cell {
          border-right: 1px solid rgba(41, 157, 242, 0.2);
        }
      }

      th:nth-child(5) .cell {
        border-right: none;
      }
    }

    .el-table__body-wrapper {
      tr:nth-child(even) {
        td {
          background-color: rgba(41, 157, 242, 0.1);
        }
      }

      tr:nth-child(odd) {
        td {
          background-color: transparent;
        }
      }

      .el-table__row  {
        .cell .status-icon {
          display: inline-block;
          width: .15rem;
          height: .15rem;
          border-radius: 50%;
          margin-right: .1rem;

          &.status1 {
            border: 1px solid rgba(41, 157, 242, 0.2);
          }

          &.status2 {
            background-color: #ff6b27;
          }

          &.status3 {
            background-color: #299df2;
          }

          &.status4 {
            background-color: #12bb2e;
          }

          &.status5 {
            border: 1px solid rgba(41, 157, 242, 0.2);
          }
        }

        .operate {
          color:#299df2;
  
          .edit {
            cursor: pointer;
            margin-right: 6px;
          }
          
          .reason,
          .revoke {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.user-file-list {
  height: 100%;
  width: 18rem;
  margin: 0 auto;

  .file-title {
    height: .6rem;
    margin: .15rem;
    text-align: center;

    & > span {
      display: inline-block;
      font-size: .25rem;
      width: 2.7rem;
      height: .6rem;
      line-height: .6rem;
      color: #fff;
      @include bg-contain("file-title.png");
    }
  }

  .swiper-wrapper {
    height: calc(100% - .8rem);
    width: 100%;
    padding: 0 .15rem;
    display: flex;
    align-items: center;
    // padding-bottom: 40px;
    color: #fff;
    
    .file-carousel {
      flex: 1;
      
      .file-carousel-item {
        @include bg-contain("home-modal.png");
        padding: .1rem;

        .el-carousel__mask {
          z-index: 3; 
          opacity: 0.1;
          background-color: #000;
        }

        & > h3 {
          padding-left: .3rem;
          color: #5EFFFE;
          font-size: .2rem;
          line-height: .35rem;
          font-weight: 600;
          background-image: url("../imgs/menu.png");
          background-repeat: no-repeat;
          background-size: .15rem;
          background-position: .08rem center;
        }

        .screen-carousel {
          .screen-carousel-item {
            display: flex;
            flex-wrap: wrap;
            // align-content: center;
            // justify-content: center;
            padding: 0 .12rem;

            .screen-panel {
              width: 2.1rem;
              height: 1.65rem;
              @include bg-contain("screen-panel.png");
              padding: .1rem;

              .screen-img {
                height: 1rem;
                padding: .08rem .08rem 0     .08rem;
                text-align: center;
  
                & > img {
                  height: 100%;
                  width: auto;
                  max-width:100%;
                  border-radius: .05rem;
                }
              }

              .screen-name {
                line-height: .35rem;
                font-size: .15rem;
                color: #fff;
                // padding-left: .2rem;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space:nowrap;
              }
            }
          }
        }
      }

      .el-carousel__item--card.is-in-stage {
        opacity: .7;

        &.is-active {
          opacity: 1;
        }
      }

      & > ul {
        & > li {
          .fileNameTip {
            font-size: .2rem;
            padding: 0 4px;
            background-color: #000;
            border: 1px solid #333;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
