@import '_components.scss';

.home {
  height: 100%;
  width: 100%;
  @include bg('background.jpg');

  .header {
    height: 1rem;
    // @include bg-contain('header.png');
    background-position: center,center top;
    background-repeat: no-repeat;
    background-image: url('../imgs/header.png'),url('../imgs/logo.png');
    background-size: contain, 32% 90%;
    
    .header-top {
      // position: relative;
      display: flex;
      justify-content: space-between;
      padding: .15rem .2rem 0;

      .back-icon {
        // position: absolute;
        // left: .2rem;
        // top: .1rem;
        flex:0 0 .5rem;
        font-size: .3rem;

        .el-icon-back {
          border-radius: 50%;
          background-color: rgba(25, 25, 44, 0.9);
          padding: .05rem;
          color:#299df2;
          cursor: pointer;

          &:hover {
              color: #2277BA;
              background-color: #242742;
          }
        }
      }

      // .header-title {
      //   width: 33%;
      //   height: .9rem;
      //   @include bg-contain('logo-icon.png');
      //   background-position: left;
      //   color: #fff;
      //   font-size: .5rem;
      //   line-height: .8rem;
      //   font-weight: 600;
      //   text-align: center;
      // }

      .header-right {
        // position: absolute;
        // right:.2rem;
        // top: .1rem;
        flex:1;
        display: flex;
        justify-content: flex-end;
        height: 0.5rem;
        align-items: center;
        color: #299df2;
        font-size: 0.2rem;
  
        .user-icon {
          width: .4rem;
          height: .4rem;
          border-radius: 50%;
          margin-right: 0.2rem;
          overflow: hidden;
  
          &>img {
            width: 100%;
            height: 100%;
          }
        }
  
        .i-logout {
          @include icon('logout.png');
          width: .2rem;
          height: .2rem;
          margin-left: .3rem;
          cursor: pointer;
        }
      }
    }

    .police-operate-group {
      display: flex;
      justify-content: flex-end;
      padding-right: .15rem;
      height: 0.6rem;
      align-items: center;
      // margin-top: -.3rem;

      &>div {
        width: 0.6rem;
        height: .35rem;
        line-height: .30rem;
        margin: 0 .1rem;
        text-align: center;
        cursor: pointer;
        @include bg-contain('home-operate-btn.png');

        &:hover {
          @include bg-contain('home-operate-btn-active.png');
        }

        &>i {
          display: inline-block;
          width: .12rem;
          height: .12rem;

          &.add-demand-icon {
            @include bg-contain('add-demand-icon.png');
          }

          &.list-demand-icon {
            @include bg-contain('list-demand-icon.png');
          }
        }
      }
    }
  }

  .file-container {
    height: calc(100% - 2rem);

    &.normal {
      height: calc(100% - 1.6rem);
    }
  }

  .footer {
    height: 1rem;
    @include bg-contain('footer.png');
    display: flex;
    justify-content: center;
    align-items: center;

    &.normal {
      height: .4rem;
      @include bg-contain('footer-normal.png');
    }

    .manage-btn {
      width: 2rem;
      height: 0.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #B6FFFE;
      font-size: 0.25rem;
      cursor: pointer;
      @include bg-contain('manage-btn.png');
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}