<template>
  <div class="material-main" @click.capture="globalClick($event)">
    <div class="main-common">
      <div class="res-header">
        <div class="title">
          <div class="title-prefix">素材库管理</div>
        </div>
      </div>
      <div class="res-body">
        <div class="filter-bar">
          <el-input placeholder="搜索内容" v-model="searchParams.keyword">
            <el-button slot="append" @click="search">
              <div class="i-container" >
                <i class="i-search"></i>
              </div>
            </el-button>
          </el-input>
          <div class="button-group">
            <el-button
              @click="removeIcons"
              type="danger"
              slot="append">
              <div class="i-container">
                <i class="el-icon-delete"></i>
                <span>删除选中</span>
              </div>
            </el-button>
            <el-upload
              class="upload-btn"
              ref="materialUpload"
              action="/api/icon/save"
              name="upload"
              :headers="utils.authHeader()"
              :before-upload = "beforeUpload"
              :on-success = "uploadSuccess"
              :on-error = "uploadError"
              :show-file-list="false">
              <el-button>
                <div class="i-container">
                  <i class="el-icon-download upload"></i>
                  <span>上传素材</span>
                </div>
              </el-button>
            </el-upload>
          </div>
        </div>
        <div class="table-con res-table">
          <div class="icon-main"
            tabindex="0">
            <div class="icon-item" :class="{'active': item.isChecked}" 
              v-for="(item, ind) in icons"
              @click="selectIcon(item)"
              :key="ind">
              <img :src="item.url">
              <div class="icon-desc" >
                <input type="text"
                  @click="triggerEdit($event, item)"
                  @keyup.enter="editName($event, item)"
                  @blur="editBlur($event, item)"
                  v-model="item.name"
                  :class="{
                    'icon-name': true,
                    'edit': item.isEdit
                  }"
                  :readonly="!item.isEdit">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import entry from './entry'
export default entry
</script>

