<template>
  <el-dialog 
    class="manage-modal"
    :visible="value">
    <div slot="title">
      <div class="title">
        <span>新建用户</span>
        <i
          class="el-icon-close"
          @click="close">
        </i>
      </div>
    </div>
    <el-form ref="userForm"
      :show-message="false"
      :model="saveParams"
      :rules="saveRule">
      <el-row>
        <el-col :lg="2">
          <span class="input-preix">
            用户昵称
          </span>
        </el-col>
        <el-col :lg="22">
          <el-form-item prop="name">
            <el-input v-model="saveParams.name" placeholder="请填写用户昵称  (必填)"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :lg="2">
          <span class="input-preix">
            用户名称
          </span>
        </el-col>
        <el-col :lg="22">
          <el-form-item prop="username">
            <el-input v-model="saveParams.username" placeholder="请填写用户名称  (必填)"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row v-if="!userId">
        <el-col :lg="2">
          <span class="input-preix">
            用户密码
          </span>
        </el-col>
        <el-col :lg="22">
          <el-form-item prop="password">
            <el-input v-model="saveParams.password" placeholder="请填写用户密码  (必填)"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :lg="2">
          <span class="input-preix">
            角色
          </span>
        </el-col>
        <el-col :lg="22">
          <el-form-item prop="role_id_list">
            <el-select
              multiple
              v-model="saveParams.role_id_list"
              placeholder="请选择角色">
              <el-option
                v-for="item in rangeOptions"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :lg="2">
          <span class="input-preix">
            身份证号
          </span>
        </el-col>
        <el-col :lg="22">
          <el-form-item prop="identity">
            <el-input v-model="saveParams.identity" placeholder="请填写身份证号  (必填)"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :lg="2">
          <span class="input-preix">
            警号
          </span>
        </el-col>
        <el-col :lg="22">
          <el-form-item prop="police_id">
            <el-input v-model="saveParams.police_id" placeholder="请填写警号  (必填)"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="modal-footer">
      <el-button
        class="confirm-btn"
        @click="confirm">
        确 定
      </el-button>
    </div>
  </el-dialog>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>

