<template>
  <div class="admin-file-list">
    <div class="folder-list-wrapper">
      <el-carousel
        trigger="click"
        class="screen-carousel"
        :autoplay="false"
        height="100%"
        arrow="never"
      >
        <el-carousel-item class="screen-carousel-item" v-for="(chunkList,index) in folderList" :key="index">
          <ul class="folder-list">
          <li class="folder-item" :class="{'active':folder.isActive}" v-for="(folder, index) in chunkList" :key="index+folder.id" @click="showUserFileList(folder)"  @mouseenter="showSecFolder(folder, index)" @mouseleave="hideSecFolder(folder)">
            <div class="folder-img">
              <img :src="folder.image || defaultIcon" alt="">
            </div>
            <div class="folder-context">
              <div class="folder-title">{{folder.name}}</div>
              <div class="folder-des">{{folder.describe}}</div>
            </div>
            <transition-group name="fade" mode="out-in">
              <div class="sec-folder-wrapper" v-show="folder.isActive" :key="1">
                <ul @click.stop="" :key="1" class="sec-folder-list"  >
                  <li v-for="(item, index) in folder.children" :key="index" @mouseenter="showScreenList(item)">{{item.name}}</li>
                </ul>
                <ul @click.stop="" :key="2" class="screen-list" >
                  <li @click="toScreenView(item)" v-for="(item, index) in currentScreenList" :key="index">{{item.name}}</li>
                  <div class="no-screen" v-show="isShowNoScreen">暂无数据</div>
                </ul>
              </div>
              <div class="no-msg" :key="3" v-show="folder.isActive && folder.children && !folder.children.length">暂无数据
                </div>
            </transition-group>
          </li>
        </ul>
        </el-carousel-item>
      </el-carousel>
      
    </div>
  </div>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>
