<template>
  <el-dialog 
    class="manage-modal"
    :visible="value">
    <div slot="title">
      <div class="title">
        <span>新建角色</span>
        <i
          class="el-icon-close"
          @click="close">
        </i>
      </div>
    </div>
    <el-form ref="roleForm"
      :show-message="false"
      :model="saveParams"
      :rules="saveRule">
      <el-row>
        <el-col :lg="2">
          <span class="input-preix">
            角色名称
          </span>
        </el-col>
        <el-col :lg="22">
          <el-form-item prop="name">
            <el-input v-model="saveParams.name" placeholder="请填写名称  (必填)"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- <el-row>
        <el-col :lg="2">
          <span class="input-preix">
            资源链接
          </span>
        </el-col>
        <el-col :lg="22">
          <el-form-item>
            <el-input v-model="data.serial" placeholder="请填写资源地址 (必填)"></el-input>
          </el-form-item>
        </el-col>
      </el-row> -->
      <el-row class="textarea-row">
        <el-col :span="24">
          <el-form-item prop="describe">
            <el-input
              type="textarea"
              :rows="9"
              :maxRows="9"
              resize="none"
              placeholder="填写备注"
              v-model="saveParams.describe">
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="modal-footer">
      <el-button
        class="confirm-btn"
        @click="confirm">
        确 定
      </el-button>
    </div>
  </el-dialog>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>

