<template>
  <div>
    <el-dialog 
      class="manage-modal"
      @click.native="modals.closeIconModal"
      :visible="value">
      <div slot="title">
        <div class="title">
          <span>添加一级菜单</span>
          <i
            class="el-icon-close"
            @click="close">
          </i>
        </div>
      </div>
      <el-form ref="topForm"
        :show-message="false"
        :model="saveParams"
        :rules="saveRule">
        <el-row>
          <el-col :lg="2">
            <span class="input-preix">
              菜单名称
            </span>
          </el-col>
          <el-col :lg="22">
            <el-form-item prop="name">
              <el-input v-model="saveParams.name" placeholder="请填写名称  (必填)"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="upload-row">
          <el-col :lg="2">
            <span class="input-preix">
              菜单图标
            </span>
          </el-col>
          <el-col :lg="22">
            <div class="upload">
              <div class="upload-group">
                <icon-modal
                  v-model="modals.iconModal"
                  @choose="chooseIcon"
                  @close="modals.closeIconModal">
                  <div slot="button">
                    <el-button
                      class="upload-btn"
                      @click.native="modals.showIconModal">
                      <i class="el-icon-upload"></i>
                      <span>选择图标</span>
                    </el-button>
                  </div>
                </icon-modal>
                <el-upload
                  class="upload-modal"
                  ref="topMenuUpload"
                  action="/api/menu/save"
                  name="upload"
                  :headers="utils.authHeader()"
                  :on-change = "changeUpload"
                  :auto-upload="false"
                  :file-list="saveParams.fileList"
                  :show-file-list="false">
                  <el-button class="upload-btn">
                    <i class="el-icon-upload"></i>
                    <span>上传</span>
                  </el-button>
                </el-upload>
                <div class="img-name">
                  <img :src="saveParams.src" alt="" class="img-preview">
                </div>
                <span class="img-desc">(只能上传不超过2MB的图片)</span>
              </div>
            </div>
          </el-col>
        </el-row>
        <el-row class="textarea-row">
          <el-col :span="24">
            <el-form-item>
              <el-input
                type="textarea"
                :rows="9"
                :maxRows="9"
                resize="none"
                placeholder="填写备注"
                v-model="saveParams.describe">
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="modal-footer">
        <el-button
          class="confirm-btn"
          @click="confirm">
          确 定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>
