<template>
  <el-dialog 
    class="manage-modal"
    :visible="value">
    <div slot="title">
      <div class="title">
        <span>添加二级菜单</span>
        <i
          class="el-icon-close"
          @click="close">
        </i>
      </div>
    </div>
    <el-form ref="subForm"
      :show-message="false"
      :model="saveParams"
      :rules="saveRule">
      <el-row>
        <el-col :lg="2">
          <span class="input-preix">
            菜单名称
          </span>
        </el-col>
        <el-col :lg="22">
          <el-form-item prop="name">
            <el-input v-model="saveParams.name" placeholder="请填写名称  (必填)"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :lg="4">
          <span class="input-preix">
            所属一级菜单名称
          </span>
        </el-col>
        <el-col :lg="20">
          <el-form-item prop="parent_menu_id">
            <el-select
              v-model="saveParams.parent_menu_id"
              placeholder="请选择">
              <el-option
                v-for="item in rangeOptions"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- <el-row>
        <el-col :lg="2">
          <span class="input-preix">
            序号
          </span>
        </el-col>
        <el-col :lg="22">
          <el-form-item prop="seq">
            <el-input type="number" v-model="saveParams.seq" placeholder="请填写序号  (必填)"></el-input>
          </el-form-item>
        </el-col>
      </el-row> -->
      <el-row class="textarea-row">
        <el-col :span="24">
          <el-form-item>
            <el-input
              type="textarea"
              :rows="9"
              :maxRows="9"
              resize="none"
              placeholder="填写备注"
              v-model="saveParams.describe">
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="modal-footer">
      <el-button
        class="confirm-btn"
        @click="confirm">
        确 定
      </el-button>
    </div>
  </el-dialog>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>
