@import 'menu_manage.scss';
@import 'role_manage.scss';
@import 'user_manage.scss';
@import 'material_manage.scss';
@import 'modal.scss';

.manage-main {
  width: 100%;
  height: 100%;
  background-color: #14152B;
  color: #BABBC3;

  .dark {
    background-color: #1A1D36;
  }
  .manage-header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;

    .header-left {
      display: flex;
      align-items: center;
      font-size: 30px;

      .i-badge {
        width: 45px;
        height: 45px;
        margin-top: 4px;
        @include icon('badge.png');
      }
    }
    .header-right {
      margin-right: 40px;
      display: flex;
      align-items: center;
      color: #299df2;
      font-size: 16px;

      .user-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 6px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .i-logout {
        width: 13px;
        height: 13px;
        margin-left: 20px;
        @include icon('logout.png');
        cursor: pointer;
      }
    }
  }
  .manage-body {
    max-width: 1200px;
    height: calc(100% - 84px);
    margin: 14px auto 0 auto;

    .header {
      width: 100%;
      height: 51px;

      .menu {
        position: relative;
        height: 100%;
        list-style: none;
        display: flex;
        font-size: 16px;
        margin-left: 20px;

        .menu-item {
          width: 128px;
          padding: 17px 0 12px 0;
          border-bottom: 3px solid transparent;
          text-align: center;
          font-weight: 500;
          color: #BABBC3;
          cursor: pointer;
          transition: border-color .3s, background-color .3s, color .3s;

          &.active {
            a {
              color: #299DF2;
            }
            border-color: #299DF2;
            color: #299DF2
          }
        }
        .seperator {
          content: '';
          display: inline-block;
          width: 1px;
          height: 18px;
          background-color: #474A5E;
          margin-top: 21px;
        }
      }
    }
    .main {
      width: 100%;
      height: calc(100% - 61px);
      margin-top: 10px;

      .title {
        width: 100%;
        height: 28px;
        font-size: 16px;

        .title-prefix {
          display: flex;
          align-items: center;

          &:before{
            display: inline-block;
            content: '';
            width: 4px;
            height: 16px;
            background: #299DF2;
            margin-right: 4px;
          }
        }
      }
      .table-con {
        width: 100%;

        .main-table {
          width: 100%;
          // height: 100%;
          max-height: calc(100% - 40px);
          overflow: auto;
          color: #A0A2B4;
          border: none;
          border-top: 1px solid #373a4f;
          font-size: 12px;
          background-color: transparent;

          a {
            color: #A0A2B4;

            &:hover {
              color: #409EFF
            }
          }
        }
        .paginator {
          width: 100%;
          padding-top: 8px;
          display: flex;
          justify-content: flex-end;

          .el-pagination.is-background {
            .btn-prev {
              background-color: transparent;
              color: #fff;
            }
            .btn-next {
              background-color: transparent;
              color: #fff;
            }
            .el-pager {
              li:not(.disabled) {
                background-color: transparent;

                &.active {
                  background-color: #409EFF;
                }
              }
            }
          }
        }
      }
      
    }
  }
}
.el-button {
  .i-container {
    width: 16px;
    height: 16px;

    .i-search {
      @include icon('search.png');
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
    }
  }
}