.material-main {
  width: 100%;
  height: 100%;
  background: #1a1d36;
  padding: 20px;
  
  .main-common {
    width: 100%;
    height: 100%;

    .res-header {
      width: 100%;
      height: 28px;
      border-bottom: 1px solid #474A5E;
      margin-bottom: 8px;
    }
    .res-body {
      width: 100%;
      height: calc(100% - 20px);

      .filter-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;

        .button-group {
          display: flex;
          justify-content: center;
          align-items: center;

          .el-button--danger {
            color: #FFF;
            background-color: #F56C6C;
            border-color: #F56C6C;

            &:hover,
            &:focus {
              background: #dd6161;
              border-color: #dd6161;
              color: #FFF;
            }
          }

          .upload-btn {
            margin-left: 10px;
          }

          .i-container {
            width: 70px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
  
            i {
              font-weight: bold;

              &.upload {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
      .res-table {
        height: calc(100% - 50px);
        margin-top: 10px;

        .icon-main {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template: 120px / repeat(10, 1fr);
          grid-auto-rows: 120px;
          overflow: auto;
      
          .icon-item {
            width: 100px;
            height: 110px;
            margin: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            border-radius: 4px;
            transition: background-color .3s ease-in-out 0s;
            cursor: pointer;
      
            &.active {
              background-color: #274D77; 
            }
            &:hover {
              background-color: #274d7799;
            }
            img {
              width: 60px;
              height: 68px;
            }
            .icon-desc {
              width: 100%;
              padding: 0 2px;
              cursor: pointer;

              .icon-name {
                width: 100%;
                background-color: transparent;
                border-width: 1px;
                border-style: solid;
                color: #fff;
                text-align: center;
                font-size: 12px;
                font-weight: bold;
                border-radius: 4px;
                border-color: rgba(41, 157, 242, 0.2);
  
                &[disabled],
                &[readonly] {
                  border-color: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
}