.menu-res-main {
  width: 100%;
  height: 100%;
  display: flex;

  .main-left {
    width: 240px;
    height: 100%;

    .create-btn {
      width: 200px;
      margin: 16px 20px;
      box-shadow: 0 6px 8px 0 #00406F;

      .el-icon-plus {
        font-weight: bold;
      }
    }
    .menu {
      border-right: none;

      .el-menu-item,
      .el-submenu__title {
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      .i-menu {
        width: 16px;
        height: 18px;
        margin: 0 8px 0 5px;
        @include icon('menu.png');

        &.active {
          @include icon('menu-active.png');
        }
      }
      .i-screen {
        width: 16px;
        height: 16px;
        margin: 0 8px 0 5px;
        @include icon('screen.png');

        &.active {
          @include icon('screen-active.png');
        }
      }
      .i-cube {
        width: 16px;
        height: 16px;
        margin: 0 8px 0 5px;
        @include icon('cube.png');

        &.active {
          @include icon('cube-active.png')
        }
      }
    }
  }
  .main-right {
    width: calc(100% - 250px);
    height: 100%;
    margin-left: 10px;
    padding: 20px;

    .main-common {
      height: 100%;

      .res-header {
        width: 100%;
        height: 28px;
        border-bottom: 1px solid #474A5E;
        margin-bottom: 8px;
      }
      .res-body {
        width: 100%;
        height: calc(100% - 25px);
  
        .filter-bar {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;

          .filter {
            padding-right: 50px;

            .filter-desc {
              margin-right: 8px;
            }
            .el-input {
              width: 130px;
            }
          }
        }
        .res-table {
          margin-top: 8px;

          .menu-icon {
            height: 20px;
            vertical-align: middle;
          }
          .btn-group {
            display: flex;
            justify-content: center;
            align-items: center;

            .edit-btn {
              color: #299df2;
              display: flex;
              align-items: center;
              cursor: pointer;

              i {
                @include icon('edit.png');
                width: 14px;
                height: 13px;
                margin-right: 4px;
              }
            }
            .del-btn {
              margin-left: 18px;
              color: #ff4343;
              cursor: pointer;
              display: flex;
              align-items: center;
              i {
                @include icon('del.png');
                width: 12px;
                height: 13px;
                margin-right: 4px;
              }
            }
            .sort-group {
              margin-left: 10px;
              margin-right: 10px;
              color: #299df2;
              font-size: 14px;

              i {
                margin-left: 3px;
                border: 1px solid;
                border-radius: 2px;
                cursor: pointer;
                transition: color .3s ease-in-out 0s;

                &:hover {
                  color: #ff4343;
                }
              }
              .sticky-post {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}
.main-top-menu {
  .res-table {
    height: 100%;
  }
}
.main-sub-menu {
  .res-table {
    height: 100%;
  }
}
.main-scr-content {
  .res-table {
    height: 100%;
  }
}
.main-scr-demand {
  .res-table {
    height: calc(100% - 50px);
  }
  .demand-table {
    .s-group {
      display: flex;
      justify-content: center;

      .s-base {
        content: '';
        display: block;
        border-radius: 50%;
        height: 10px;
        width: 10px;
      }
      .s-uncheck {
        @extend .s-base;
        background: #909399;
      }
      .s-reject {
        @extend .s-base;
        background: #F56C6C
        ;
      }
      .s-develop {
        @extend .s-base;
        background: #409EFF;
      }
      .s-finish {
        @extend .s-base;
        background: #67C23A;
      }
    }
  }
  .agree-btn {
    padding: 5px 16px;
    background-color: transparent;
    border: 1px solid #299df2;
    color: #299df2;
    & + .confirm-text {
      margin-left: 16px;
    }
  }
  .reject-btn {
    padding: 5px 16px;
    margin-left: 16px;
    background-color: transparent;
    border: 1px solid #ff6b27;
    color: #ff6b27;
  }
  .reason-btn {
    padding: 5px 16px;
    margin-left: 0;
    background-color: transparent;
    border: 1px solid #67C23A;
    color: #67C23A;
  }
  .confirm-text {
    padding: 5px 11px;
    background-color: transparent;
    border: none;
  }
}