.manage-modal {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  .tree {
    min-height: 280px;
  }
  .el-form-item {
    margin: 0;

    .el-form-item__content {
      line-height: 0;
    }
  }
  .el-dialog {
    max-width: 800px;
    color: #fff;
    background-color: #242742;
    border-radius: 4px;

    .el-dialog__header {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #25395e;
      border-radius: 4px 4px 0 0;

      .el-icon-close {
        font-weight: bold;
        cursor: pointer;

        &:hover {
          color: #299DF2;
        }
      }
      .el-dialog__headerbtn {
        display: none;
      }
    }
    .el-dialog__body {
      padding: 19px 20px 24px 20px;
      color: #fff;
      font-size: 12px;
      max-height: 350px;
      overflow: auto;

      .el-row {
        height: 32px;
        margin-bottom: 4px;

        .input-preix {
          line-height: 32px;
        }
        &.upload-row {
          margin: 12px 0 0 0;

          .upload {
            display: flex;
            align-items: center;

            .upload-group {
              display: flex;
              align-items: center;

              .upload-modal {
                margin-left: 5px;
              }

              .upload-btn {
                width: 120px;
                height: 28px;
                padding: 5px;
                .el-icon-upload {
                  font-weight: bold;
                }
              }
            }
            .img-name {
              margin-left: 16px;
              .img-preview {
                height: 24px;
                vertical-align: middle;
              }
            }
            .img-desc {
              margin-left: 10px;
              color: rgba(255, 255, 255, .3);
            }
          }
        }
        &.textarea-row {
          height: auto;
          margin-top: 16px;
        }
      }

      .res-table {
        height: 250px;

        .main-table {
          max-height: 100% !important;
        }
      }
      
    }
    .el-dialog__footer {
      padding: 8px 20px;
      border-top: 1px solid #4f5267;

      .confirm-btn {
        width: 100px;
        padding: 8px;
      }
    }
  }
  .el-select {
    width: 100%;

    .el-input {
      .el-input__inner {
        border: 1px solid rgba(41, 157, 242, 0.2);
        padding: 0 30px 0 15px;
        border-radius: 4px;
      }
    }
  }
  .el-tree {
    background-color: transparent;

    .el-tree-node {
      .el-tree-node__content {
        height: 32px;
        position: relative;

        .el-checkbox {
          margin-left: 8px;
        }
        .el-icon-caret-right {
          @extend .el-icon-arrow-down !optional;
        }
        .el-tree-node__label {
          color: #c0c7d6;
        }
        .el-tree-node__expand-icon {
          position: absolute;
          right: 0;
          order: 2;
          transform: rotate(90deg);

          &.expanded {
            transform: rotate(-90deg) 
          }
        }

        &:hover {
          background-color: transparent;
          border-radius: 4px;
        }
      }
      &:focus {
        .el-tree-node__content {
          background-color: transparent;
        }
      }
    }
  }
  .el-input {
    font-size: 12px;

    .el-input__inner {
      height: 32px;
      padding: 0 4px;
      background-color: #242742;
      border: none;
      border-bottom: 1px solid #243E64;
      box-shadow: 0 1px 0 0 #243e64;
      border-radius: 0;
      color: #c0c7d6;

      &:focus {
        border-bottom: 1px solid #243E64;
      }
    }

    .el-input__suffix {
      .el-input__icon {
        line-height: 32px;
      }
    }
  }
  
  .el-checkbox {
    .el-checkbox__label {
      color: #c0c7d6;
    }
  }

  .el-textarea {
    .el-textarea__inner {
      color: #c0c7d6;
      background: #232d4d;
      border: none;

      &::placeholder {
        color: #808080;
      }
    }
  }

  .el-cascader {
    width: 100%;
    font-size: 12px;
    line-height: 32px;

    .el-cascader__label{
      padding-left: 4px;
      color: #c0c7d6;

      & > span{
        color: #c0c7d6;
      }
    }
  }
}
.icon-popover {
  .icon-main {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

    .icon-item {
      width: 80px;
      height: 84px;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      transition: background-color .3s ease-in-out 0s;

      &:hover {
        background-color: #274D77; 
      }
      img {
        width: 48px;
        height: 54px;
      }
      .icon-name {
        font-size: 11px;
        text-align: center;
      }
    }
  }
}