.user-main {
  width: 100%;
  height: 100%;
  background: #1a1d36;
  padding: 20px;
  
  .main-common {
    .res-header {
      width: 100%;
      height: 28px;
      border-bottom: 1px solid #474A5E;
      margin-bottom: 8px;
    }
    .res-body {
      width: 100%;
      height: calc(100% - 20px);

      .table-tool {
        width: 100%;
        height: 40px;
        display: flex;
        margin: 8px 0;

        .i-container {
          width: 107px;
          height: 16px;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            font-weight: bold;
          }
        }
      }
      .res-table {
        margin-top: 8px;

        .btn-group {
          display: flex;
          justify-content: center;
          align-items: center;

          .edit-btn {
            color: #299df2;
            cursor: pointer;
            display: flex;
            align-items: center;

            i {
              @include icon('edit.png');
              width: 14px;
              height: 13px;
              margin-right: 4px;
            }
          }
          .del-btn {
            margin-left: 18px;
            color: #ff6b27;
            cursor: pointer;
            display: flex;
            align-items: center;

            i {
              @include icon('del.png');
              width: 12px;
              height: 13px;
              margin-right: 4px;
            }
          }
          .reset-btn {
            margin-left: 18px;
            color: #ff6b27;
            cursor: pointer;
            display: flex;
            align-items: center;

            i {
              font-size: 14px;
              margin-right: 3px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}