<template>
  <el-dialog 
    class="manage-modal"
    @click.native="modals.closeIconModal"
    :visible="value">
    <div slot="title">
      <div class="title">
        <span>添加可视化大屏</span>
        <i
          class="el-icon-close"
          @click="close">
        </i>
      </div>
    </div>
    <el-form ref="screenForm"
      :show-message="false"
      :model="saveParams"
      :rules="saveRule">
      <el-row>
        <el-col :lg="2">
          <span class="input-preix">
            大屏名称
          </span>
        </el-col>
        <el-col :lg="22">
          <el-form-item prop="name">
            <el-input v-model="saveParams.name" placeholder="请填写名称  (必填)"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :lg="3">
          <span class="input-preix">
            所属一级菜单
          </span>
        </el-col>
        <el-col :lg="8">
          <el-form-item prop="top_parent_id">
            <el-select
              v-model="saveParams.top_parent_id"
              @change="chooseTopParent"
              placeholder="请选择">
              <el-option
                v-for="item in rangeOptions"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
            <!-- <el-cascader
              :options="rangeOptions"
              v-model="selectedOptions"
              placeholder="请选择"
              @active-item-change="handleMenuItemChange"
              @change="handleChange"
              :props="cascaderProps">
            </el-cascader> -->
          </el-form-item>
        </el-col>
        <el-col :lg="3" :offset="1" v-show="saveParams.top_parent_id">
          <span class="input-preix">
            所属二级菜单
          </span>
        </el-col>
        <el-col :lg="8" v-show="saveParams.top_parent_id">
          <el-form-item prop="parent_menu_id">
            <el-select
              v-model="saveParams.parent_menu_id"
              placeholder="请选择">
              <el-option
                v-for="item in subRangeOptions"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- <el-row>
        <el-col :lg="2">
          <span class="input-preix">
            序号
          </span>
        </el-col>
        <el-col :lg="22">
          <el-form-item prop="seq">
            <el-input 
            type="number"
            v-model.number="saveParams.seq" placeholder="请填序号"></el-input>
          </el-form-item>
        </el-col>
      </el-row> -->
      <el-row>
        <el-col :lg="2">
          <span class="input-preix">
            需求单
          </span>
        </el-col>
        <el-col :lg="22">
          <el-form-item prop="needs_id">
            <el-select
              v-model="saveParams.needs_id"
              placeholder="请选择">
              <el-option
                v-for="item in demandList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :lg="2">
          <span class="input-preix">
            资源URL
          </span>
        </el-col>
        <el-col :lg="22">
          <el-form-item prop="resource_url">
            <el-input v-model.number="saveParams.resource_url" placeholder="请填URL"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row class="upload-row">
        <el-col :lg="2">
          <span class="input-preix">
            菜单图标
          </span>
        </el-col>
        <el-col :lg="22">
          <div class="upload">
            <div class="upload-group">
              <icon-modal
                v-model="modals.iconModal"
                @choose="chooseIcon"
                @close="modals.closeIconModal">
                <div slot="button">
                  <el-button
                    class="upload-btn"
                    @click.native="modals.showIconModal">
                    <i class="el-icon-upload"></i>
                    <span>选择图标</span>
                  </el-button>
                </div>
              </icon-modal>
              <el-upload
                class="upload-modal"
                ref="scrConUpload"
                action="/api/menu/save"
                name="upload"
                :headers="utils.authHeader()"
                :on-change = "changeUpload"
                :auto-upload="false"
                :file-list="saveParams.fileList"
                :show-file-list="false">
                <el-button class="upload-btn">
                  <i class="el-icon-upload"></i>
                  <span>上传</span>
                </el-button>
              </el-upload>
              <div class="img-name">
                <img :src="saveParams.src" alt="" class="img-preview">
              </div>
              <span class="img-desc">(只能上传不超过2MB的图片)</span>
            </div>
          </div>
        </el-col>
      </el-row>
      <el-row class="textarea-row">
        <el-col :span="24">
          <el-form-item>
            <el-input
              type="textarea"
              :rows="9"
              :maxRows="9"
              resize="none"
              placeholder="填写备注"
              v-model="saveParams.describe">
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="modal-footer">
      <el-button
        class="confirm-btn"
        @click="confirm">
        确 定
      </el-button>
    </div>
  </el-dialog>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>
