<template>
  <el-popover
    popper-class="icon-popover"
    placement="bottom-start"
    width="600"
    trigger="manual"
    v-model="value">
    <div class="icon-main"
      tabindex="0"
      ref="content"
      @click="close">
      <div class="icon-item"
        @click="chooseIcon(val)"
        v-for="(val, ind) in icons"
        :key="ind">
        <img :src="val.icon">
        <p class="icon-name">{{val.name}}</p>
      </div>
    </div>
    <div slot="reference">
      <slot name="button"></slot>
    </div>
  </el-popover>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>
