<template>
  <el-dialog 
    class="manage-modal"
    :visible="value">
    <div slot="title">
      <div class="title">
        <span>需求驳回</span>
        <i
          class="el-icon-close"
          @click="close">
        </i>
      </div>
    </div>
    <el-form ref="rejectForm"
      :show-message="false"
      :model="saveParams"
      :rules="saveRules">
      <el-row class="textarea-row">
        <el-col :span="24">
          <el-form-item prop="reason">
            <el-input
              type="textarea"
              :rows="9"
              :maxRows="9"
              resize="none"
              placeholder="填写驳回理由"
              v-model="saveParams.reason">
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="modal-footer">
      <el-button
        class="confirm-btn"
        @click="confirm">
        确 定
      </el-button>
    </div>
  </el-dialog>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>
