<template>
  <div class="screen-view">
    <iframe class="screen-iframe" :src="resourceUrl" frameborder="0"></iframe>
    <!-- <iframe class="screen-iframe" src="http://www.baidu.com" frameborder="0"></iframe> -->
    <div class="screen-list-wrapper">
      <ul class="screen-list">
        <li v-for="(item, index) in screenList" :key="index" @click="changeScreenView(item.resource_url)">
          <div class="screen-img">
            <img :src="item.image" alt="">
          </div>
          <div class="screen-name" :title='item.name'>{{item.name}}</div>
        </li>
      </ul>
    </div>
    <div class="full-screen" @click="changeScreenMode">{{isFullScreen?"退出全屏":"进入全屏"}}</div>
  </div>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>