<template>
  <div class="role-main">
    <div class="main-common">
      <div class="res-header">
        <div class="title">
          <div class="title-prefix">角色管理</div>
        </div>
      </div>
      <div class="res-body">
        <div class="table-tool">
          <el-button
            @click="createRole"
            slot="append">
            <div class="i-container">
              <i class="el-icon-plus"></i>
              <span>新建角色</span>
            </div>
          </el-button>
        </div>
        <div class="table-con res-table">
          <el-table
            class="main-table"
            :data="tableData"
            border>
            <el-table-column
              prop="name"
              label="角色名称">
            </el-table-column>
            <el-table-column
              prop="describe"
              label="角色描述">
            </el-table-column>
            <el-table-column
              label="操作"
              width="282">
              <template slot-scope="scope">
                <div class="btn-group">
                  <div
                    class="edit-btn"
                    @click="edit(scope.row)">
                    <i></i><span>编辑</span>
                  </div>
                  <div
                    class="auth-btn"
                    @click="auth(scope.row)">
                    <i></i><span>权限</span>
                  </div>
                  <div
                    class="group-btn"
                    @click="group(scope.row)">
                    <i></i><span>用户组</span>
                  </div>
                   <el-popover
                    placement="top"
                    width="160"
                    v-model="scope.row.showDelPopover">
                    <p class="popover-text">是否删除该角色?该操作不可恢复,是否继续?</p>
                    <div class="button-group">
                      <el-button type="primary" size="mini" @click="scope.row.showDelPopover = false">取消</el-button>
                      <el-button type="danger" size="mini" @click="remove(scope.row)">确定</el-button>
                    </div>
                    <div
                      slot="reference"
                      class="del-btn">
                      <i></i>
                      <span>删除</span>
                    </div>
                  </el-popover>
                </div>
              </template>
            </el-table-column>
          </el-table>
          <div class="paginator" v-show="totalCount > searchParams.page_size">
            <el-pagination
              background
              small
              layout="prev, pager, next"
              :page-size="searchParams.page_size"
              :total="totalCount"
              @current-change="changePage">
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
    <role-modal
      v-model="modals.roleModal"
      :role-id="roleId"
      @refresh="refresh"
      @close="modals.closeRoleModal">
    </role-modal>
    <auth-modal
      :role-id="roleId"
      v-model="modals.authModal"
      @close="modals.closeAuthModal">
    </auth-modal>
    <group-modal
      :role-id="roleId"
      v-model="modals.groupModal"
      @close="modals.closeGroupModal"
    ></group-modal>
  </div>
</template>

<script lang="ts">
import entry from './entry'
export default entry
</script>

