<template>
  <el-dialog 
    class="manage-modal"
    :visible="value">
    <div slot="title">
      <div class="title">
        <span>权限列表</span>
        <i
          class="el-icon-close"
          @click="close">
        </i>
      </div>
    </div>
    <div class="tree">
      <el-tree
        ref="authTree"
        :data="data"
        :props="treeProps"
        :default-expanded-keys="saveParams.menu_id_list"
        :default-checked-keys="saveParams.menu_id_list"
        @check="checkNode"
        check-strictly
        show-checkbox
        node-key="id">
      </el-tree>
    </div>
    <div slot="footer" class="modal-footer">
      <el-button
        class="confirm-btn"
        @click="confirm">
        确 定
      </el-button>
    </div>
  </el-dialog>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>
