<template>
  <el-dialog class="home-modal"
    :visible.sync="value"
    :show-close="false"
    :close-on-click-modal="false"
    :close-on-press-escape="false"
    top="20vh"
    >
    <div slot="title">
      <div class="title">
        <span>修改密码</span>
        <i class="el-icon-close"
          @click="close">
        </i>
      </div>
    </div>
    <el-form ref="passwordForm" :model="passwordForm" :rules="passwordRule" label-width="100px" >
      <el-form-item label="用户名" prop="username">
        <el-input placeholder="请输入原密码"  v-model="passwordForm.username"/>
      </el-form-item>
      <el-form-item label="原始密码" prop="old_password">
        <el-input type='password' placeholder="请输入原密码"  v-model="passwordForm.old_password"/>
      </el-form-item>
     <el-form-item label="新密码" prop="new_password">
        <el-input type='password' placeholder="请输入新密码"  v-model="passwordForm.new_password"/>
      </el-form-item>
      <el-form-item label="确认密码" prop="confirm_password">
        <el-input type='password' placeholder="请输入新密码"  v-model="passwordForm.confirm_password"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="modal-footer">
      <el-button class="confirm-btn" @click="submitForm('passwordForm')">
        提交
      </el-button>
    </div>
  </el-dialog>
</template>
<script lang="ts">
import entry from './entry'
export default entry
</script>

