// el-intput-group button
.el-input-group__append {
  border: none;
  button.el-button {
    color: #fff;
    border-radius: 0 4px 4px 0;
    border: 1px solid #299DF2;
    background: #299DF2;
    border-top: 0;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0
  }
}
.el-input-group {
  width: 300px;
  .el-input-group--append,
  .el-input__inner,
  .el-input-group__prepend {
    background: #1A2441;
    border: 1px solid rgba(41,157,242,0.20);
    color: rgba(255,255,255,0.20);
  }
}

// el-select
.el-select {
  .el-input {
    &.is-focus {
      .el-input__inner {
        border: 1px solid rgba(41,157,242,0.20);
      }
    }

    .el-input__inner {
      background: #1A2441;
      border: 1px solid rgba(41,157,242,0.20);
      color: #BABBC3;
    }
  }
}

.el-select-dropdown {
  border: 1px solid transparent;
  border-radius: 4px;
  background:#1A1D36;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,0.40);
  color: #BABBC3;
  margin-top: 8px;
  margin-bottom: 0px;

  .el-select-dropdown__list{
    padding: 0;
    .el-select-dropdown__item {
      color:#BABBC3;

      &.selected {
        &.hover {
          background-color: inherit;
        }
        background-color: inherit;
      }
      &.hover{
        background-color: #242742
      }
      &:hover{
        color: #299DF2;
        background-color: #242742;
      }
    }
  }
  .popper__arrow {
    display: none;
  }
}

.el-dropdown-menu.el-popper {
  width: 200px;
  padding: 0;
  text-align: center;
  border: 1px solid transparent;
  background:#1A1D36;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,0.40);
  color: #BABBC3;
  margin-top: 8px;
  margin-bottom: 0px;

  .el-dropdown-menu__item {

    &:focus,
    &:not(.is-disabled) {
      color:#BABBC3;

      &:hover{
        color: #299DF2;
        background-color: #242742
      }
    }
  }
  .popper__arrow {
    margin: 0;
    display: none;
  }
}

// el-table
.el-table {
  border: 1px solid #373a4f;
  thead {
    color: #A0A2B4;
    font-weight: bold;
  }
  .el-table__header-wrapper {
    border-left: 1px solid #373a4f;
    border-right: 1px solid #373a4f;

    th,
    th.is_leaf{
      background-color: #14152B;
    }
  }
  .el-table__body-wrapper {
    border-left: 1px solid #373a4f;
    border-right: 1px solid #373a4f;

    tr {
      &:nth-child(even) {
        td {
          background-color: #14152B;
        }
      }
      &:nth-child(odd) {
        td {
          background-color: #21243c;
        }
      }
    }
  }
  th,
  td,
  th.is_leaf {
    padding: 5px 0;
    border-bottom: 0 !important;
    border-top: 0;
    border-right: 1px solid #373a4f;
    text-align: center;
  }
  &:before,
  &:after {
    height: 0;
    width: 0;
  }
}

// el-input-group
.el-input-group__append {
  .el-button {
    &:focus,
    &:hover {
      color: #fff;
      background: #2277BA;
      border-color: #2277BA;
    }
  }
}
//el-button
.el-button {
  color: #fff;
  border: 1px solid #299DF2;
  background: #299DF2;
  border-top: 0;
  border-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;

  &:focus,
  &:hover {
    color: #fff;
    background: #2277BA;
    border-color: #2277BA;
  }
}

.el-input {
  input::placeholder {
    color: #808080;
  }
}

.el-tooltip__popper.is-dark {
  left:20px;
}

.el-cascader-menus {
  background-color: #242742;
  border: 1px solid #243E64;

  .el-cascader-menu{
    background-color: #242742;
    border-right: 1px solid #243E64;
  }

  .el-cascader-menu__item{
    color: #c0c7d6;

    &.is-active {
      color: #409EFF;
    }

    &.is-disabled {
      &:hover {
        background-color: #242742;
      }
    }
  }
  
}
.el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #243E64;

  &::after {
    border-bottom-color: #242742;
  }
}

.el-cascader-menu__item:focus:not(:active), .el-cascader-menu__item:hover {
  background-color: rgb(21,23,46);
}

.el-popover {
  background: #1a1c36;
  color: #BABBC3;
  border:1px solid #474A5E;

  .popover-text {
    font-size: 12px;
  }
  .button-group {
    text-align: center;
    margin: 5px 0 0 0;

    .el-button--text {
      color: #409EFF;
      background: none;
      border: none;
    }
    .el-button--danger {
      color: #FFF;
      background-color: #F56C6C;
      border-color: #F56C6C;
    }
  }
  &[x-placement^=top] {
    .popper__arrow {
      border-top-color: #474A5E;
  
      &::after {
        border-top-color: #1a1c36;
      }
    }
  }
}

