.login {
  height: 100%;
  width: 100%;
  position: relative;
  @include bg('background.jpg');

  .header {
    height: 1rem;
    @include bg-contain('header.png');

    .login-title {
      height: .9rem;
      width: 6.1rem;
      margin: 0 auto;
      padding-left: 1rem;
      @include bg-contain('logo.png');
      background-position: left;
      color: #fff;
      font-size: .5rem;
      line-height: .8rem;
      font-weight: 600;
    }
  }

  .login-form-warpper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
    
    .login-form {
      width: 6rem;
      height: 4rem;
      @include bg-contain('login-form.png');
      padding: .6rem;
      color: #fff;
      
      .el-form-item {
        margin-bottom: 16px;
      }

      .el-form-item__content {
        background-color: rgba(41, 157, 242, 0.4);
        border-radius: 5px;
        height: .6rem;
        width: 100%;
        margin: 5px 0;
        display: flex;
        align-items: center;
        padding: 0 .6rem 0;

        & > i {
          position: absolute;
          left: 0;
          top: .15rem;
          display: inline-block;
          width: .25rem;
          height: .25rem;
          margin: 0 .2rem;

          &.username-icon {
            @include icon('username-icon.png');
          }
    
          &.password-icon {
            @include icon('password-icon.png');
          }
        }

        .el-input__inner, .el-textarea__inner {
          border: none;
          background-color: transparent;
          color: #fff;
          padding: 0;
          &::-webkit-input-placeholder {
            color: #999;
          }
        }
      }
  
      .modify-pwd {
        text-align: right;
        text-decoration: underline;
        font-size: .1rem;
        cursor: pointer;
      }

      .login-btn {
        width: 100%;
        height: .6rem;
        line-height: .6rem;
        text-align: center;
        font-size: .25rem;
        margin-top: .2rem;
        cursor: pointer;
        @include bg-contain('login-btn.png');
  
        &:hover {
          @include bg-contain('login-btn-active.png');
        }
      }
    }

  }
}