@import '_base.scss';
@import '_plugin.scss';
@import '_components.scss';
@import 'login.scss';
@import 'screen.scss';
@import './home/index.scss';
@import './manage/index.scss';

.app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}