.screen-view {
  height: 100%;
  width: 100%;

  .screen-iframe {
    width: 100%;
    height: 100%;
  }

  .screen-list-wrapper {
    position: fixed;
    left: .05rem;
    top: 20vh;
    // height: 60vh;
    max-height: 70vh;
    width: 1rem;

    &:hover {
      .screen-list {
        transform: translateX(0);
      }
    }

    .screen-list {
      // position: fixed;
      // left: 0;
      // top: 20vh;
      // height: 60vh;
      // max-height: 70vh;
      width: 100%;
      max-height: 70vh;
      padding:.04rem;
      border-radius: .05rem;
      overflow: auto;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-content: center;
      background-color: rgba(25, 25, 44, 0.1);
      transform: translateX(-100%);
      transition: all 1s;
      
      &:hover {
        transform: translateX(0);
      }
  
      & > li {
        width: 100%;
        height:.8rem;
        padding: 0 .05rem;
        border-radius: .05rem;
        margin: .05rem 0;
        // border: 1px solid rgba(41, 157, 242, 0.6);
        // display: flex;
        // flex-direction: column;
        font-size: .2rem;
        color: #fff;
        background-color: rgba(25, 25, 44, 0.5);
        cursor: pointer;
  
        &:hover {
          color: #299df2;
          background-color: rrgba(25, 25, 44, 0.7);
        }
        .screen-img {
          flex:1;
          height: .5rem;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
  
          & > img {
            width:auto;
            height:80%;
            max-height: 80%;
          }
        }
        
        .screen-name {
          // flex: 0 0 14px;
          height: .25rem;
          font-size: .05rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .full-screen {
    position: fixed;
    top: .2rem;
    right: .2rem;
    background-color: rgb(25, 25, 44);
    color:#fff;
    font-size: .15rem;
    padding: .1rem;
    border-radius: .05rem;
    cursor: pointer;

    &:hover {
      opacity: .8;
      color: #299df2;
    }
  }
}